<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		.logo {			
			margin-bottom: 15px;
			margin-top: 10px;
			height: 60px;
		}

		.inspeccion {
			color: #3F5B71 !important;
			font-size: 1.1em !important;
		}

		h3 {
			color: #f19122 !important;
			font-size: 1.1em !important;
			font-weight: bold !important;
		}

		@media not print {
			.container {
				width: 100% !important;				
				padding-left: 20px !important;
				padding-right: 20px !important;
			}
		}

		.checklist {
			display: inline-block;
			margin-bottom: 15px;
			margin-top: 10px;
			vertical-align: top;
			width: 99%;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			margin: 20px 0px;
		}
		table td, th {
			padding: 10px;
			max-width: 100px;
		}
		table td, table th {
			border: 1px dashed;
		}
		table tr:first-child th {
			border-top: 0;
		}
		table tr:last-child td {
			border-bottom: 0;
		}
		table tr td:first-child,
		table tr th:first-child {
			border-left: 0;
		}
		table tr td:last-child,
		table tr th:last-child {
			border-right: 0;
		}
		table th, td {
			text-align:center; 
			vertical-align:middle;
		}

		.check {
			width: 17px;
		}

		.info-label {
			display: inline-block;
			font-weight: bold;
			/*text-align: justify;*/
			vertical-align: middle;
		}

		body {
			font-family: 'Helvetica' !important;
			font-size: 14px !important;
			color: #3F5B71 !important;
		}

		#location-info {
			margin-top: 15px;
		}

		.location-field {
			/*margin-left: 20px;*/
			margin: 10px 0 !important;
			width: 100% !important;
		}

		.picsField {
			margin-top: 5px;
			height: 250px;
		}

		.center-cropped {

			background-position: left center;
			background-repeat: no-repeat;
		}

		@media print {
			.picsField {
				width: 400px;
			}

			.always-break {
				page-break-before: always !important;
			}
		}

		.standalone-container {
			page-break-inside: avoid;
		}

		.map {
			margin-top: 5px;
			height: 250px;
		}

		

	</style>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="http://ddejhenv4m3e3.cloudfront.net/logos/bild.png" alt="logo_bild" class="logo">
			</div>
		</div>
		<hr />
		<h3 class="inspeccion">INSPECCIÓN: <%= inspection.code %> - <%= inspection.construction.name %></h3>
		<% inspection.reports.each_with_index do |report, index| %>
		<% if index > 0 %>
		<div style="page-break-before: always">
			<% else %>
			<div>
				<% end %>
				<h3>HALLAZGO <%= index + 1 %></h3>
				<div class="row">
					<div class="col-xs-6">
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Nombre hallazgo:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('37', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Grupo de actividad:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('39', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Detalle de actividad:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('40', 'text') %>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Contratista:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('38', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Frente de trabajo:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('41', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Acción/condición detectada:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('42', 'text') %>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-xs-6">
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Causa directa:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('25', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Descripción Causa Directa:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('26', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Detalle de cada Causa Directa:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('27', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Causa básica:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('28', 'text') %>
							</div>
						</div>			
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Descripción Causa Básica:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('29', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Detalle de cada Causa Básica:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('30', 'text') %>
							</div>
						</div>				
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Gravedad potencial:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('22', 'text') %>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Grado de riesgo:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('23', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Clasificación de posible incidente:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('24', 'text') %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Supervisor responsable:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('32', 'text')  %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Jefe de terreno:
							</div>
							<div class="col-xs-8">
								<%= report.inspection.field_chief_name  %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Experto SSOMA Obra:
							</div>
							<div class="col-xs-8">
								<%= report.inspection.expert_name  %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Plazo de cumplimiento:
							</div>
							<div class="col-xs-8">
								<%= report.dynamic_attributes.dig('35', 'text')  %>
							</div>
						</div>
						<div class="row location-field">
							<div class="col-xs-4 info-label">
								Fecha de cumplimiento:
							</div>
							<div class="col-xs-8">
								<%= report.limit_date.in_time_zone("Chile/Continental").strftime("%d/%m/%Y") if report.limit_date.present?  %>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="row location-field">
							<div class="col-xs-12">
								<span class="info-label">
									Recomendaciones: 
								</span>
								<span>
									<%= report.dynamic_attributes.dig('31', 'text')  %>
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row standalone-container">
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-12">
								<h3>GEOLOCALIZACIÓN</h3>
							</div>
						</div>
						<div class="row info-label">
							<div class="col-xs-12">
								Hallazgo
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12"> 
								<div class="center-cropped map" style="background-image: url('<%= report.initial_location_image %>');">
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-12">
								<h3>FOTOS</h3>
							</div>
						</div>
						<div class="row info-label">
							<div class="col-xs-12">
								Hallazgo
							</div>
						</div>
						<% report.images.where(is_initial: true).each do |image| %>
						<div class="picsField center-cropped"
						style="background-image: url('<%= image.url.gsub('https', 'http') %>');">
					</div>
					<% end %>
				</div>
			</div>
			<% if report.state != "unchecked" %>
			<div class="row standalone-container" style="margin-top: 20px">
				<div class="col-xs-6">
					<div class="row info-label">
						<div class="col-xs-12">
							Resolución Hallazgo
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12"> 
							<div class="center-cropped map" style="background-image: url('<%= report.final_location_image %>');">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row info-label">
						<div class="col-xs-12">
							Resolución Hallazgo
						</div>
					</div>
					<% report.images.where(is_initial: false).each do |image| %>
					<div class="picsField center-cropped"
					style="background-image: url('<%= image.url.gsub('https', 'http') %>');">
				</div>
				<% end %>
			</div>
		</div>
		
		<% end %>

		<div class="row standalone-container" id="location-info">
			<div class="col-xs-12">
				<div class="row location-field">
					<span class="label-text info-label">Dirección: </span>
					<span class="value"><%= report.final_location.present? ? report.final_location.address : report.initial_location.address %></span>
				</div>
				<div class="row location-field">
					<span class="label-text info-label">Región: </span>
					<span class="value"><%= report.final_location.present? ? report.final_location.region : report.initial_location.region %></span>
				</div>
				<div class="row location-field">
					<span class="label-text info-label">Comuna: </span>
					<span class="value"><%= report.final_location.present? ? report.final_location.commune : report.initial_location.commune %></span>
				</div>
				<div class="row location-field">
					<span class="label-text info-label">Referencia: </span>
					<span class="value"><%= report.final_location.present? ? report.final_location.reference : report.initial_location.reference %></span>
				</div>
				<% if report.state != "unchecked" %>
				<div class="row location-field">
					<span class="label-text info-label">Comentarios de resolución: </span>
					<span class="value"><%= report.resolution_comment %></span>
				</div>
				<% end %>
			</div>
		</div>

		<div class="row standalone-container">
			<div class="col-xs-12">
				<section id="checklist">
					<h3>Firmas</h3>
					<table>
						<thead>
							<tr>
								<th>Jefe SSOMA</th>
								<th>Administrador de obra</th>
								<th>Experto SSOMA Obra</th>
								<th>Administrador de obra firma final</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<%= report.creator.name %> <img class="check" src="http://d21zid65ggdxzg.cloudfront.net/801C65B140A965F51FD49B476D9219F4.png" alt="check_v" />
								</td>
								<td>
									<% if report.inspection.state != "reports_pending" and report.inspection.state != "first_signature_pending" %>
									<%= report.inspection.initial_signer.name %> <img class="check" src="http://d21zid65ggdxzg.cloudfront.net/801C65B140A965F51FD49B476D9219F4.png" alt="check_v" />
									<% end %>
								</td>
								<td>
									<% if report.state != "unchecked" %>
									<%= report.resolver.name %> <img class="check" src="http://d21zid65ggdxzg.cloudfront.net/801C65B140A965F51FD49B476D9219F4.png" alt="check_v" />
									<!-- <img class="check" src="http://d21zid65ggdxzg.cloudfront.net/768AF9B25098A450CD52CD5B6339D3E8.png" alt="check_x" /> -->
									<% end %>
								</td>
								<td>
									<% if report.inspection.state == "finished" %>
									<%= report.inspection.final_signer.name %> <img class="check" src="http://d21zid65ggdxzg.cloudfront.net/801C65B140A965F51FD49B476D9219F4.png" alt="check_v" />
									<% end %>
								</td>
							</tr>
						</tbody>
					</table>

				</section>
			</div>
		</div>
	</div>
	<% end %>

</div>



</body>
</html>