<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>Fecha de ejecución: <%= @reporte.formatted_created_at.to_s  %></p>
  <p>Categoria: <%= @reporte.dynamic_attributes.dig('113', 'value') || "Categoría no seleccionada" %></p>
  <p>Lugar: <%= @reporte.dynamic_attributes.dig('114', 'value') || "Lugar no seleccionado" %></p>
  <p>Solicitud de reputesto: <%= @solicitud %></p>
  <p>Comentarios: <%= @reporte.dynamic_attributes.dig('106', 'value').present? ? @reporte.dynamic_attributes.dig('106', 'value') : "Comentarios no ingresados" %></p>
  <p>Reporte PDF: <a href="<%= @reporte.pdf %>">Click aqui</a></p>
  <p>Reporte Id: <%= @reporte.id %></p>
  <p>Reporte PDF URL:<%= @reporte.pdf %></p>
  <p>Reporte PDF URL:<%= @reporte.default_pdf %></p>
</body>
</html>
