<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hallazgo - eFinding</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/d2dd92ccf1.js"></script>
	<style>

	body{
		padding: 30px;
		font-size: helvetica;
		color: #3C4858;
	}
	.page-break{
		page-break-after: always;
	}
	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h1{
		font-size: 26px;
		margin: 0;
		padding: 10px 0;
	}
	h2{
		font-size: 22px;
		margin: 0;
		padding: 0;
	}
	h3{
		font-size: 20px;
		margin: 0;
		padding: 0;
	}
	.brand{
		padding: 10px 0;
		width:100% !important;
	    display:block;
	}

	table{
		width: 100%;
	}
	td{
		padding: 5px 15px;
		border-bottom: 1px solid #eee;
	}
	td label{
		text-transform: uppercase;
		font-size: 8pt;
		font-weight: 900;
		display: block;
	}

	.success{
		color: #13CE66;
	}
	.pending{
		color: #F8B700;
	}

	.table{
		width: 100%;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		border-left: 1px solid #eee;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.table-two{
		border: 1px solid #eee;
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;
	}

	.table-two td{
		padding: 10px 15px;
	}
	.highlight{
		background-color: #F9F9FA;
		text-align: center;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	.highlight h1{
		font-size: 40px;
		font-weight: 900;
		line-height: 18px;
	}
	.highlight h1 small{
		font-size: 12px;
		font-weight: 400;
	}
	</style>
</head>
<body>
	<div class="container page-break">
		<div class="row">
			<div class="col-xs-4"><img src="https://ddejhenv4m3e3.cloudfront.net/logos/pitagora-v2.jpg" class="brand"></div>
			<div class="col-xs-8">
				<h1 class="text-right"><%= inspection.construction.company.name %><br><small><%= inspection.construction.name %></small></h1>
			</div>
			<div class="col-xs-12"><hr></div>

			<div class="col-xs-12">
				<h2>Resumen inspección</h2>

				<table class="table">
					<tr>
						<td>APR:</td>
						<td><strong><%= if inspection.construction.supervisor.present? then inspection.construction.supervisor.name else "Obra sin APR" end %></strong></td>
						<td rowspan="5" class="highlight">
							<h1><%= inspection.reports.count %><br><small>Hallazgos</small></h1>
						</td>
					</tr>
					<tr>
						<td>Jefe de Terreno:</td>
						<td><strong><%= if inspection.construction.expert.present? then inspection.construction.expert.name else "Obra sin Jefe de Terreno" end %></strong></td>
					</tr>
					<tr>
						<td>Administrador de Obra:</td>
						<td><strong><%= if inspection.construction.administrator.present? then inspection.construction.administrator.name else "Obra sin Administrador" end %></strong></td>
					</tr>
					<tr>
						<td>Obra:</td>
						<td><strong><%= inspection.construction.name %></strong></td>
					</tr>
					<tr>
						<td>Fecha inspección:</td>
						<td><strong><%= inspection.formatted_created_at %></strong></td>
					</tr>
					<tr>
						<td>Administrador Obra:</td>
						<td><strong><%= if inspection.construction.administrator.present? then inspection.construction.administrator.name else "Obra sin administrador" end %></strong></td>
					</tr>
				</table>
			</div>
		</div>	
	</div>
	<div class="container page-break">
		<div class="row">
				<div class="col-xs-12">
					<h2>Ubicación</h2>
				</div>

				<% map_url = "http://maps.googleapis.com/maps/api/staticmap?center=#{report.url_location_string}&size=350x200&maptype=roadmap" %>
				<% map_url += "&markers=color:red%7Clabel:H%7C#{report.initial_location.lonlat.y},#{report.initial_location.lonlat.x}" %>
				<% map_url += "&key=AIzaSyAxdoh8VjK53CCCYNmGx0RGuompeK-ejzc" %>

				<div class="col-xs-12">
					<img src="<%= map_url %>">
				</div>
			</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table">
					<tr>
						<td><h2>Hallazgo 1<br><small><%= report.dynamic_attributes.dig("67", "text") %></small></h2></td>
						<td class="text-center">
							<h2><small>Gravedad</small><br><%= report.dynamic_attributes.dig("52", "text") %></h2>								
						</td>
						<td class="text-center">
							<h2><small>Riesgo</small><br><%= report.dynamic_attributes.dig("53", "text") %></h2>
						</td>
						<td class="highlight">
							<i class="fa fa-check fa-2x success"></i>
						</td>
					</tr>
				</table>

				<table class="table-two">
					<tr>
						<td width="50%">
							<label>Grupo de actividad</label>
							<%= report.dynamic_attributes.dig("69", "text") %>
						</td>

						<td>
							<label>Contratista</label>
							<%= report.dynamic_attributes.dig("68", "text") %>
						</td>
					</tr>

					<tr>
						<td>
							<label>Detalle de actividad</label>
							<%= report.dynamic_attributes.dig("70", "text") %>
						</td>

						<td>
							<label>Frente de trabajo</label>
							<%= report.dynamic_attributes.dig("71", "text") %>
						</td>
					</tr>

					<tr>
						<td>
							<label>Causa directa</label>
							<%= report.dynamic_attributes.dig("55", "text") %>
						</td>

						<td>
							<label>Acción/Condición detectada</label>
							<%= report.dynamic_attributes.dig("72", "text") %>
						</td>
					</tr>

					<tr>
						<td>
							<label>DESCRIPCIÓN CAUSA DIRECTA</label>
							<%= report.dynamic_attributes.dig("56", "text") %>
						</td>

						<td>
							<label>CLASIFICACIÓN DE POSIBLE INCIDENTE</label>
							<%= report.dynamic_attributes.dig("54", "text") %>
						</td>
					</tr>

					<tr>
						<td>
							<label>DETALLE DE CADA CAUSA DIRECTA</label>
							<%= report.dynamic_attributes.dig("57", "text") %>
						</td>

						<td>
							<label>APR RESPONSABLE</label>
							<%= if inspection.construction.supervisor.present? then inspection.construction.supervisor.name else "Obra sin supervisor" end %>
						</td>
					</tr>

					<tr>
						<td>
							<label>CAUSA BÁSICA</label>
							<%= report.dynamic_attributes.dig("58", "text") %>
						</td>

						<td>
							<label>JEFE DE TERRENO</label>
							<%= if inspection.construction.expert.present? then inspection.construction.expert.name else "Obra sin Jefe de Terreno" end %>
						</td>
					</tr>

					<tr>
						<td>
							<label>DESCRIPCIÓN CAUSA BÁSICA</label>
							<%= report.dynamic_attributes.dig("59", "text") %>
						</td>

						<td>
							<label>PLAZO DE CUMPLIMIENTO</label>
							<%= report.dynamic_attributes.dig("65", "text") %>
						</td>
					</tr>

					<tr>
						<td>
							<label>DETALLE DE CADA CAUSA BÁSICA</label>
							<%= report.dynamic_attributes.dig("60", "text") %>
						</td>

						<td>
							<label>FECHA DE CUMPLIMIENTO</label>
							<%= report.dynamic_attributes.dig("66", "text") %>
						</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
	<div class="container">
	<div class="row">
			<div class="col-xs-12">
				<h2>Hallazgo<br><small><%= if report.initial_location.present? then report.initial_location.address else "Sin dirección" end %></small></h2>

				<img src="<%= report.images.where(is_initial: true).first.url %>" class="img-responsive" style="height: 300px;">
				<p>
					<strong>Comentario hallazgo</strong><br>
							<%= report.images.where(is_initial: true).first.formatted_comment %>
				</p>
			</div>

			<div class="col-xs-12">
				<% if report.state != "unchecked" %>
					<h2>Resolución hallazgo<br><small><%= if report.final_location.present? then report.final_location.address else "Sin dirección" end %></small></h2>

					<img src="<%= report.images.where(is_initial: false).first.url %>" class="img-responsive" style="height: 300px;">
					<p>
						<strong>Comentario resolución de hallazgo</strong><br>
						<%= report.resolution_comment %>
					</p>
				<% end %>
			</div>
		</div>

		<div class="row" style="page-break-inside: avoid">
			<div class="col-xs-12">
				<hr>
				<h2>Firmas</h2>
			</div>
			
			<div class="col-xs-12">
				<table class="table" >
					<tr>
						<td class="highlight">
							<small>APR</small><br>
							<hr>
							<i class="fa fa-check fa-2x success"></i><!-- Estado -->
							<p>
								<%= report.creator.name %><br>
								<small><%= report.created_at.in_time_zone("Chile/Continental").strftime("%d/%m/%Y %R") %></small>
							</p>
						</td>

						<td class="highlight">
							<small>Adm. de obra</small><br>
							<hr>
							<% if report.inspection.state != "reports_pending" and report.inspection.state != "first_signature_pending" %>
								<i class="fa fa-check fa-2x success"></i><!-- Estado -->
							<% else %>
								<i class="fa fa-clock-o fa-2x pending"></i>
							<% end %>
							<p>
								<%= if inspection.construction.administrator.present? then inspection.construction.administrator.name else "Obra sin administrador" end %><br>
								<small><%= inspection.initial_signed_at.in_time_zone("Chile/Continental").strftime("%d/%m/%Y %R") unless inspection.initial_signed_at.nil? %></small>
							</p>
						</td>

						<td class="highlight">
							<small>Jefe de Terreno</small><br>
							<hr>
							<% if report.state != "unchecked" %>
								<i class="fa fa-check fa-2x success"></i><!-- Estado -->
							<% else %>
								<i class="fa fa-clock-o fa-2x pending"></i>
							<% end %>
							<p>
								<%= if inspection.construction.expert.present? then inspection.construction.expert.name else "Obra sin Jefe de Terreno" end %><br>
								<small><%= report.resolved_at.in_time_zone("Chile/Continental").strftime("%d/%m/%Y %R") unless report.resolved_at.nil? %></small>
							</p>
						</td>

						<td class="highlight">
							<small>Adm. de obra firma final</small><br>
							<hr>
							<% if report.inspection.state == "finished" %>
								<i class="fa fa-check fa-2x success"></i><!-- Estado -->
							<% else %>
								<i class="fa fa-clock-o fa-2x pending"></i>
							<% end %>
							<p>
								<%= if inspection.construction.administrator.present? then inspection.construction.administrator.name else "Obra sin administrador" end %><br>
								<small><%= inspection.final_signed_at.in_time_zone("Chile/Continental").strftime("%d/%m/%Y %R") unless inspection.final_signed_at.nil? %></small>
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
</body>
</html>